@model List<Application.ViewModels.RegionViewModel>

@{
    ViewData["Title"] = "Regions";
}

<div class="container-fluid">
    <div class="mb-3 d-flex justify-content-between flex-wrap">
        <h2>Mis Regiones</h2>
        <div>
            <a asp-controller="Regions" asp-action="Save" class="btn btn-success">Crear nueva region</a>
        </div>
    </div>
    <div class="row regions">

        @foreach (Application.ViewModels.RegionViewModel region in Model)
        {
            <div class="col p-0">
                <div class="card shadow-sm d-flex flex-column gap-3 p-2">
                    <h4 class="">@region.Name</h4>
                    <div class="d-flex align-items-between">
                        <div class="btn-group">
                            <a asp-controller="Regions" asp-action="Edit" asp-route-Id="@region.Id" class="btn btn-sm btn-outline-info">Editar</a>
                            <a asp-controller="Regions" asp-action="Delete" asp-route-Id="@region.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>
</div>

