@model List<Application.ViewModels.TypePokemonViewModel>
@using Application.Services;
@{
    ViewData["Title"] = "TypePokemons";
}

<div class="container-fluid">
    <div class="mb-3 d-flex justify-content-between">
        <h2>Mis Tipos</h2>
        <div>
            <a asp-controller="TypePokemons" asp-action="Save" class="btn btn-success">Crear nuevo tipo</a>
        </div>
    </div>
    <div class="row">

        @foreach (Application.ViewModels.TypePokemonViewModel typePokemon in Model)
        {
            <div class="col-3 type mt-2">
                <div class="card shadow-sm d-flex flex-column gap-3 p-2">
                    @{
                        string colorType = ViewBag.color.ChangeColorType(typePokemon.Color);
                    }
                    <h4 style="color:@colorType">@typePokemon.Name</h4>
                    <div class="d-flex align-items-between">
                        <div class="btn-group">
                            <a asp-controller="TypePokemons" asp-action="Edit" asp-route-Id="@typePokemon.Id" class="btn btn-sm btn-outline-info">Editar</a>
                            <a asp-controller="TypePokemons" asp-action="Delete" asp-route-Id="@typePokemon.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
                }
    </div>
</div>
