@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.pokemonsRow {
    display: grid;
    gap: 0.6rem;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.pokemon {
    padding: 0;
}

.pokemon:hover, .region:hover, .type:hover {
    transform: scale(0.97);
    transition: all 700ms;
}

.imagePokemon {
    height: 230px;
}

.typePokemon {
    padding: 0.2rem;
    color: white;
    display: flex;
    justify-content: center;
    width: 80px;
    border-radius: 5px
}

.textPokemon {
    margin: 0.6rem 0 0.3rem 0.3rem;
}
